# Yahoo Finance Scrapping

## Libraries

In [1]:
import pandas as pd
import requests
import random
from bs4 import BeautifulSoup
import re

## Scrapper Function

With this function we simply lookup for url for a given ticker and use some regular expressions to collect the financial data. This functions works with a list of tickers and output the scrapped data in a dictionary (of dictionaries).

In [2]:
def scrapper(ticker_list):

    """
    This function takes a list of tickers (such as ['AAPL', 'META']) as input and scraps the related data from yahoo finance. 
    More specifically, the data come from the "financials" tab of yahoo finance and therefore the scrapper gathers some fundamentals data about those companies.
    The resulting data are stored in a dictionary of dictionaries and can then be easily put into a pandas dataframe (or something else)
    """

    all_results = dict()

    for ticker in ticker_list:

        # define some user agents to be used to avoid detection
        user_agents = [ 
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36', 
        'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36', 
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36', 
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148', 
        'Mozilla/5.0 (Linux; Android 11; SM-G960U) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.72 Mobile Safari/537.36'
        ]
        
        # randomly choose an agent
        user_agent = random.choice(user_agents)
        headers = {'User-Agent': user_agent}

        # construct the URL using the ticker passed as argument to the function
        URL = f"https://finance.yahoo.com/quote/{ticker}/financials/"

        page = requests.get(URL, headers=headers)
        soup = BeautifulSoup(page.content, "html.parser")
        soup_str = str(soup)

        # get the time data
        soup_str = str(soup)
        start = soup_str.find('Breakdown')
        end = soup_str.find('Total Revenue')
        substr = soup_str[start:end]
        year = re.findall('\\d+/\\d+/\\d+', substr)
        year.insert(0, 'TTM')

        # Isolate the table from the rest of the content
        soup_str = str(soup)
        start = soup_str.find('Breakdown')
        end = soup_str.find('Related Tickers')
        substr = soup_str[start:end]

        # each company's data are stored in a dictionary
        results = dict()
        # here we use regular expressions (regex) to target the specific bits we are interested in
        for i in re.findall("column sticky(.*?)<div class=\"row lv-0", substr):
            title = re.findall('title=\"(.*?)\"', i)[0]
            data = re.findall('<div(.*?)</div>', i)[1:]
            data_ = [re.findall('>(.*) ', d)[0] for d in data if re.findall('>(.*) ', d)[0] not in title]
            results[title] = data_
        results['year'] = year

        # finaly we add the data scrapped for the current ticker into the another dictionary.
        all_results[ticker] = results
        
    
    return all_results

## Scrapping the data for the Magnificent 7

We simply run the scrapping functions for some tickers.

In [3]:
ticker_list = ['AAPL', 'NVDA', 'MSFT', 'AMZN', 'TSLA', 'GOOG', 'META']
res = scrapper(ticker_list)
print(res)

{'AAPL': {'Total Revenue': ['395,760,000', '391,035,000', '383,285,000', '394,328,000', '365,817,000'], 'Cost of Revenue': ['211,657,000', '210,352,000', '214,137,000', '223,546,000', '212,981,000'], 'Gross Profit': ['184,103,000', '180,683,000', '169,148,000', '170,782,000', '152,836,000'], 'Operating Expense': ['58,428,000', '57,467,000', '54,847,000', '51,345,000', '43,887,000'], 'Operating Income': ['125,675,000', '123,216,000', '114,301,000', '119,437,000', '108,949,000'], 'Net Non Operating Interest Income Expense': ['--', '--', '-183,000', '-106,000', '198,000'], 'Other Income Expense': ['71,000', '269,000', '-565,000', '-334,000', '60,000'], 'Pretax Income': ['125,746,000', '123,485,000', '113,736,000', '119,103,000', '109,207,000'], 'Tax Provision': ['29,596,000', '29,749,000', '16,741,000', '19,300,000', '14,527,000'], 'Net Income Common Stockholders': ['96,150,000', '93,736,000', '96,995,000', '99,803,000', '94,680,000'], 'Diluted NI Available to Com Stockholders': ['96,150,000', '93,736,000', '96,995,000', '99,803,000', '94,680,000'], 'Basic EPS': ['6.33', '6.11', '6.16', '6.15', '5.67'], 'Diluted EPS': ['6.30', '6.08', '6.13', '6.11', '5.61'], 'Basic Average Shares': ['15,236,773.25', '15,343,783', '15,744,231', '16,215,963', '16,701,272'], 'Diluted Average Shares': ['15,301,651', '15,408,095', '15,812,547', '16,325,819', '16,864,919'], 'Total Operating Income as Reported': ['125,675,000', '123,216,000', '114,301,000', '119,437,000', '108,949,000'], 'Total Expenses': ['270,085,000', '267,819,000', '268,984,000', '274,891,000', '256,868,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['96,150,000', '93,736,000', '96,995,000', '99,803,000', '94,680,000'], 'Normalized Income': ['96,150,000', '93,736,000', '96,995,000', '99,803,000', '94,680,000'], 'Interest Income': ['--', '--', '3,750,000', '2,825,000', '2,843,000'], 'Interest Expense': ['--', '--', '3,933,000', '2,931,000', '2,645,000'], 'Net Interest Income': ['--', '--', '-183,000', '-106,000', '198,000'], 'EBIT': ['125,675,000', '123,216,000', '114,301,000', '119,437,000', '111,852,000'], 'EBITDA': ['137,352,000', '134,661,000', '125,820,000', '130,541,000', '123,136,000'], 'Reconciled Cost of Revenue': ['211,657,000', '210,352,000', '214,137,000', '223,546,000', '212,981,000'], 'Reconciled Depreciation': ['11,677,000', '11,445,000', '11,519,000', '11,104,000', '11,284,000'], 'Net Income from Continuing Operation Net Minority Interest': ['96,150,000', '93,736,000', '96,995,000', '99,803,000', '94,680,000'], 'Normalized EBITDA': ['137,352,000', '134,661,000', '125,820,000', '130,541,000', '123,136,000'], 'year': ['TTM', '9/30/2024', '9/30/2023', '9/30/2022', '9/30/2021']}, 'NVDA': {'Total Revenue': ['130,497,000', '130,497,000', '60,922,000', '26,974,000', '26,914,000'], 'Cost of Revenue': ['32,639,000', '32,639,000', '16,621,000', '11,618,000', '9,439,000'], 'Gross Profit': ['97,858,000', '97,858,000', '44,301,000', '15,356,000', '17,475,000'], 'Operating Expense': ['16,405,000', '16,405,000', '11,329,000', '9,779,000', '7,434,000'], 'Operating Income': ['81,453,000', '81,453,000', '32,972,000', '5,577,000', '10,041,000'], 'Net Non Operating Interest Income Expense': ['1,539,000', '1,539,000', '609,000', '5,000', '-207,000'], 'Other Income Expense': ['1,034,000', '1,034,000', '237,000', '-1,401,000', '107,000'], 'Pretax Income': ['84,026,000', '84,026,000', '33,818,000', '4,181,000', '9,941,000'], 'Tax Provision': ['11,146,000', '11,146,000', '4,058,000', '-187,000', '189,000'], 'Net Income Common Stockholders': ['72,880,000', '72,880,000', '29,760,000', '4,368,000', '9,752,000'], 'Diluted NI Available to Com Stockholders': ['72,880,000', '72,880,000', '29,760,000', '4,368,000', '9,752,000'], 'Basic EPS': ['2.56', '2.97', '1.21', '0.18', '0.39'], 'Diluted EPS': ['2.53', '2.94', '1.19', '0.17', '0.39'], 'Basic Average Shares': ['24,597,750', '24,555,000', '24,690,000', '24,870,000', '24,960,000'], 'Diluted Average Shares': ['24,862,750', '24,804,000', '24,940,000', '25,070,000', '25,350,000'], 'Total Operating Income as Reported': ['81,453,000', '81,453,000', '32,972,000', '4,224,000', '10,041,000'], 'Total Expenses': ['49,044,000', '49,044,000', '27,950,000', '21,397,000', '16,873,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['72,880,000', '72,880,000', '29,760,000', '4,368,000', '9,752,000'], 'Normalized Income': ['72,880,000', '72,880,000', '29,760,000', '5,436,870', '9,752,000'], 'Interest Income': ['1,786,000', '1,786,000', '866,000', '267,000', '29,000'], 'Interest Expense': ['247,000', '247,000', '257,000', '262,000', '236,000'], 'Net Interest Income': ['1,539,000', '1,539,000', '609,000', '5,000', '-207,000'], 'EBIT': ['84,273,000', '84,273,000', '34,075,000', '4,443,000', '10,177,000'], 'EBITDA': ['86,137,000', '86,137,000', '35,583,000', '5,987,000', '11,351,000'], 'Reconciled Cost of Revenue': ['32,639,000', '32,639,000', '16,621,000', '11,618,000', '9,439,000'], 'Reconciled Depreciation': ['1,864,000', '1,864,000', '1,508,000', '1,544,000', '1,174,000'], 'Net Income from Continuing Operation Net Minority Interest': ['72,880,000', '72,880,000', '29,760,000', '4,368,000', '9,752,000'], 'Total Unusual Items Excluding Goodwill': ['--', '--', '--', '-1,353,000', '--'], 'Total Unusual Items': ['--', '--', '--', '-1,353,000', '--'], 'Normalized EBITDA': ['86,137,000', '86,137,000', '35,583,000', '7,340,000', '11,351,000'], 'Tax Rate for Calcs': ['0', '0', '0', '0', '0'], 'year': ['TTM', '1/31/2025', '1/31/2024', '1/31/2023', '1/31/2022']}, 'MSFT': {'Total Revenue': ['261,802,000', '245,122,000', '211,915,000', '198,270,000', '168,088,000'], 'Cost of Revenue': ['80,087,000', '74,114,000', '65,863,000', '62,650,000', '52,232,000'], 'Gross Profit': ['181,715,000', '171,008,000', '146,052,000', '135,620,000', '115,856,000'], 'Operating Expense': ['64,004,000', '61,575,000', '57,529,000', '52,237,000', '45,940,000'], 'Operating Income': ['117,711,000', '109,433,000', '88,523,000', '83,383,000', '69,916,000'], 'Net Non Operating Interest Income Expense': ['-139,000', '222,000', '1,026,000', '31,000', '-215,000'], 'Other Income Expense': ['-3,961,000', '-1,868,000', '-238,000', '302,000', '1,401,000'], 'Pretax Income': ['113,611,000', '107,787,000', '89,311,000', '83,716,000', '71,102,000'], 'Tax Provision': ['20,861,000', '19,651,000', '16,950,000', '10,978,000', '9,831,000'], 'Net Income Common Stockholders': ['92,750,000', '88,136,000', '72,361,000', '72,738,000', '61,271,000'], 'Diluted NI Available to Com Stockholders': ['92,750,000', '88,136,000', '72,361,000', '72,738,000', '61,271,000'], 'Basic EPS': ['12.48', '11.86', '9.72', '9.70', '8.12'], 'Diluted EPS': ['12.41', '11.80', '9.68', '9.65', '8.05'], 'Basic Average Shares': ['7,432,500', '7,431,000', '7,446,000', '7,496,000', '7,547,000'], 'Diluted Average Shares': ['7,471,000', '7,469,000', '7,472,000', '7,540,000', '7,608,000'], 'Total Operating Income as Reported': ['117,711,000', '109,433,000', '88,523,000', '83,383,000', '69,916,000'], 'Total Expenses': ['144,091,000', '135,689,000', '123,392,000', '114,887,000', '98,172,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['92,750,000', '88,136,000', '72,361,000', '72,738,000', '61,271,000'], 'Normalized Income': ['93,648,020.44', '88,585,082', '72,373,150', '72,447,754', '60,148,160.80'], 'Interest Income': ['2,538,000', '3,157,000', '2,994,000', '2,094,000', '2,131,000'], 'Interest Expense': ['2,677,000', '2,935,000', '1,968,000', '2,063,000', '2,346,000'], 'Net Interest Income': ['-139,000', '222,000', '1,026,000', '31,000', '-215,000'], 'EBIT': ['116,288,000', '110,722,000', '91,279,000', '85,779,000', '73,448,000'], 'EBITDA': ['142,905,000', '133,009,000', '105,140,000', '100,239,000', '85,134,000'], 'Reconciled Cost of Revenue': ['80,087,000', '74,114,000', '65,863,000', '62,650,000', '52,232,000'], 'Reconciled Depreciation': ['26,617,000', '22,287,000', '13,861,000', '14,460,000', '11,686,000'], 'Net Income from Continuing Operation Net Minority Interest': ['92,750,000', '88,136,000', '72,361,000', '72,738,000', '61,271,000'], 'Total Unusual Items Excluding Goodwill': ['-1,100,000', '-549,000', '-15,000', '334,000', '1,303,000'], 'Total Unusual Items': ['-1,100,000', '-549,000', '-15,000', '334,000', '1,303,000'], 'Normalized EBITDA': ['144,005,000', '133,558,000', '105,155,000', '99,905,000', '83,831,000'], 'Tax Rate for Calcs': ['0', '0', '0', '0', '0'], 'year': ['TTM', '6/30/2024', '6/30/2023', '6/30/2022', '6/30/2021']}, 'AMZN': {'Total Revenue': ['637,959,000', '637,959,000', '574,785,000', '513,983,000', '469,822,000'], 'Cost of Revenue': ['513,337,000', '513,337,000', '480,980,000', '446,343,000', '403,507,000'], 'Gross Profit': ['124,622,000', '124,622,000', '93,805,000', '67,640,000', '66,315,000'], 'Operating Expense': ['56,029,000', '56,029,000', '56,953,000', '55,392,000', '41,436,000'], 'Operating Income': ['68,593,000', '68,593,000', '36,852,000', '12,248,000', '24,879,000'], 'Net Non Operating Interest Income Expense': ['2,271,000', '2,271,000', '-233,000', '-1,378,000', '-1,361,000'], 'Other Income Expense': ['-2,250,000', '-2,250,000', '938,000', '-16,806,000', '14,633,000'], 'Pretax Income': ['68,614,000', '68,614,000', '37,557,000', '-5,936,000', '38,151,000'], 'Tax Provision': ['9,265,000', '9,265,000', '7,120,000', '-3,217,000', '4,791,000'], 'Earnings from Equity Interest Net of Tax': ['-101,000', '-101,000', '-12,000', '-3,000', '4,000'], 'Net Income Common Stockholders': ['59,248,000', '59,248,000', '30,425,000', '-2,722,000', '33,364,000'], 'Diluted NI Available to Com Stockholders': ['59,248,000', '59,248,000', '30,425,000', '-2,722,000', '33,364,000'], 'Basic EPS': ['5.66', '--', '2.95', '-0.27', '3.30'], 'Diluted EPS': ['5.53', '--', '2.90', '-0.27', '3.24'], 'Basic Average Shares': ['10,473,000', '--', '10,304,000', '10,189,000', '10,120,000'], 'Diluted Average Shares': ['10,721,000', '--', '10,492,000', '10,189,000', '10,300,000'], 'Total Operating Income as Reported': ['68,593,000', '68,593,000', '36,852,000', '12,248,000', '24,879,000'], 'Total Expenses': ['569,366,000', '569,366,000', '537,933,000', '501,735,000', '444,943,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['59,248,000', '59,248,000', '30,425,000', '-2,722,000', '33,364,000'], 'Normalized Income': ['60,830,028.76', '60,830,028.76', '29,521,380.04', '10,128,140', '20,551,997.17'], 'Interest Income': ['4,677,000', '4,677,000', '2,949,000', '989,000', '448,000'], 'Interest Expense': ['2,406,000', '2,406,000', '3,182,000', '2,367,000', '1,809,000'], 'Net Interest Income': ['2,271,000', '2,271,000', '-233,000', '-1,378,000', '-1,361,000'], 'EBIT': ['71,020,000', '71,020,000', '40,739,000', '-3,569,000', '39,960,000'], 'EBITDA': ['123,815,000', '123,815,000', '89,402,000', '38,352,000', '74,393,000'], 'Reconciled Cost of Revenue': ['513,337,000', '513,337,000', '480,980,000', '446,343,000', '403,507,000'], 'Reconciled Depreciation': ['52,795,000', '52,795,000', '48,663,000', '41,921,000', '34,433,000'], 'Net Income from Continuing Operation Net Minority Interest': ['59,248,000', '59,248,000', '30,425,000', '-2,722,000', '33,364,000'], 'Total Unusual Items Excluding Goodwill': ['-1,829,000', '-1,829,000', '1,115,000', '-16,266,000', '14,652,000'], 'Total Unusual Items': ['-1,829,000', '-1,829,000', '1,115,000', '-16,266,000', '14,652,000'], 'Normalized EBITDA': ['125,644,000', '125,644,000', '88,287,000', '54,618,000', '59,741,000'], 'Tax Rate for Calcs': ['0', '0', '0', '0', '0'], 'year': ['TTM', '12/31/2024', '12/31/2023', '12/31/2022', '12/31/2021']}, 'TSLA': {'Total Revenue': ['97,690,000', '97,690,000', '96,773,000', '81,462,000', '53,823,000'], 'Cost of Revenue': ['80,240,000', '80,240,000', '79,113,000', '60,609,000', '40,217,000'], 'Gross Profit': ['17,450,000', '17,450,000', '17,660,000', '20,853,000', '13,606,000'], 'Operating Expense': ['9,690,000', '9,690,000', '8,769,000', '7,021,000', '7,110,000'], 'Operating Income': ['7,760,000', '7,760,000', '8,891,000', '13,832,000', '6,496,000'], 'Net Non Operating Interest Income Expense': ['1,219,000', '1,219,000', '910,000', '106,000', '-315,000'], 'Other Income Expense': ['11,000', '11,000', '172,000', '-219,000', '162,000'], 'Pretax Income': ['8,990,000', '8,990,000', '9,973,000', '13,719,000', '6,343,000'], 'Tax Provision': ['1,837,000', '1,837,000', '-5,001,000', '1,132,000', '699,000'], 'Net Income Common Stockholders': ['7,130,000', '7,130,000', '14,999,000', '12,583,000', '5,524,000'], 'Average Dilution Earnings': ['--', '--', '--', '1,000', '9,000'], 'Diluted NI Available to Com Stockholders': ['7,130,000', '7,130,000', '14,999,000', '12,584,000', '5,533,000'], 'Basic EPS': ['2.23', '--', '4.73', '4.02', '1.87'], 'Diluted EPS': ['2.04', '--', '4.31', '3.62', '1.63'], 'Basic Average Shares': ['3,197,000', '--', '3,173,500', '3,130,000', '2,959,000'], 'Diluted Average Shares': ['3,498,000', '--', '3,482,750', '3,475,000', '3,386,000'], 'Total Operating Income as Reported': ['7,076,000', '7,076,000', '8,891,000', '13,656,000', '6,523,000'], 'Rent Expense Supplemental': ['1,003,000', '1,003,000', '1,268,000', '1,509,000', '978,000'], 'Total Expenses': ['89,930,000', '89,930,000', '87,882,000', '67,630,000', '47,327,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['7,130,000', '7,130,000', '14,999,000', '12,583,000', '5,524,000'], 'Normalized Income': ['7,677,200', '7,677,200', '14,999,000', '12,744,920', '5,499,970'], 'Interest Income': ['1,569,000', '1,569,000', '1,066,000', '297,000', '56,000'], 'Interest Expense': ['350,000', '350,000', '156,000', '191,000', '371,000'], 'Net Interest Income': ['1,219,000', '1,219,000', '910,000', '106,000', '-315,000'], 'EBIT': ['9,340,000', '9,340,000', '10,129,000', '13,910,000', '6,714,000'], 'EBITDA': ['14,708,000', '14,708,000', '14,796,000', '17,657,000', '9,625,000'], 'Reconciled Cost of Revenue': ['80,240,000', '80,240,000', '79,113,000', '60,609,000', '40,217,000'], 'Reconciled Depreciation': ['5,368,000', '5,368,000', '4,667,000', '3,747,000', '2,911,000'], 'Net Income from Continuing Operation Net Minority Interest': ['7,130,000', '7,130,000', '14,999,000', '12,583,000', '5,524,000'], 'Total Unusual Items Excluding Goodwill': ['-684,000', '-684,000', '--', '-176,000', '27,000'], 'Total Unusual Items': ['-684,000', '-684,000', '--', '-176,000', '27,000'], 'Normalized EBITDA': ['15,392,000', '15,392,000', '14,796,000', '17,833,000', '9,598,000'], 'Tax Rate for Calcs': ['0', '0', '0', '0', '0'], 'year': ['TTM', '12/31/2024', '12/31/2023', '12/31/2022', '12/31/2021']}, 'GOOG': {'Total Revenue': ['350,018,000', '350,018,000', '307,394,000', '282,836,000', '257,637,000'], 'Cost of Revenue': ['146,306,000', '146,306,000', '133,332,000', '126,203,000', '110,939,000'], 'Gross Profit': ['203,712,000', '203,712,000', '174,062,000', '156,633,000', '146,698,000'], 'Operating Expense': ['91,322,000', '91,322,000', '89,769,000', '81,791,000', '67,984,000'], 'Operating Income': ['112,390,000', '112,390,000', '84,293,000', '74,842,000', '78,714,000'], 'Net Non Operating Interest Income Expense': ['4,214,000', '4,214,000', '3,557,000', '1,817,000', '1,153,000'], 'Other Income Expense': ['3,211,000', '3,211,000', '-2,133,000', '-5,331,000', '10,867,000'], 'Pretax Income': ['119,815,000', '119,815,000', '85,717,000', '71,328,000', '90,734,000'], 'Tax Provision': ['19,697,000', '19,697,000', '11,922,000', '11,356,000', '14,701,000'], 'Net Income Common Stockholders': ['100,118,000', '100,118,000', '73,795,000', '59,972,000', '76,033,000'], 'Diluted NI Available to Com Stockholders': ['100,118,000', '100,118,000', '73,795,000', '59,972,000', '76,033,000'], 'Basic EPS': ['8.13', '8.13', '5.84', '4.59', '5.69'], 'Diluted EPS': ['8.04', '8.04', '5.80', '4.56', '5.61'], 'Basic Average Shares': ['12,319,000', '12,319,000', '12,630,000', '13,063,000', '13,353,000'], 'Diluted Average Shares': ['12,447,000', '12,447,000', '12,722,000', '13,159,000', '13,553,480'], 'Total Operating Income as Reported': ['112,390,000', '112,390,000', '84,293,000', '74,842,000', '78,714,000'], 'Total Expenses': ['237,628,000', '237,628,000', '223,101,000', '207,994,000', '178,923,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['100,118,000', '100,118,000', '73,795,000', '59,972,000', '76,033,000'], 'Normalized Income': ['98,226,968', '98,226,968', '75,569,521', '65,163,493', '65,951,860'], 'Interest Income': ['4,482,000', '4,482,000', '3,865,000', '2,174,000', '1,499,000'], 'Interest Expense': ['268,000', '268,000', '308,000', '357,000', '346,000'], 'Net Interest Income': ['4,214,000', '4,214,000', '3,557,000', '1,817,000', '1,153,000'], 'EBIT': ['120,083,000', '120,083,000', '86,025,000', '71,685,000', '91,080,000'], 'EBITDA': ['135,394,000', '135,394,000', '97,971,000', '85,160,000', '103,521,000'], 'Reconciled Cost of Revenue': ['146,306,000', '146,306,000', '133,332,000', '126,203,000', '110,939,000'], 'Reconciled Depreciation': ['15,311,000', '15,311,000', '11,946,000', '13,475,000', '12,441,000'], 'Net Income from Continuing Operation Net Minority Interest': ['100,118,000', '100,118,000', '73,795,000', '59,972,000', '76,033,000'], 'Total Unusual Items Excluding Goodwill': ['2,262,000', '2,262,000', '-2,061,000', '-6,173,000', '12,030,000'], 'Total Unusual Items': ['2,262,000', '2,262,000', '-2,061,000', '-6,173,000', '12,030,000'], 'Normalized EBITDA': ['133,132,000', '133,132,000', '100,032,000', '91,333,000', '91,491,000'], 'Tax Rate for Calcs': ['0', '0', '0', '0', '0'], 'year': ['TTM', '12/31/2024', '12/31/2023', '12/31/2022', '12/31/2021']}, 'META': {'Total Revenue': ['164,501,000', '164,501,000', '134,902,000', '116,609,000', '117,929,000'], 'Cost of Revenue': ['30,161,000', '30,161,000', '25,959,000', '25,249,000', '22,649,000'], 'Gross Profit': ['134,340,000', '134,340,000', '108,943,000', '91,360,000', '95,280,000'], 'Operating Expense': ['64,960,000', '64,960,000', '62,192,000', '62,416,000', '48,527,000'], 'Operating Income': ['69,380,000', '69,380,000', '46,751,000', '28,944,000', '46,753,000'], 'Net Non Operating Interest Income Expense': ['1,973,000', '1,973,000', '1,043,000', '-44,000', '671,000'], 'Other Income Expense': ['-690,000', '-690,000', '-366,000', '-81,000', '-140,000'], 'Pretax Income': ['70,663,000', '70,663,000', '47,428,000', '28,819,000', '47,284,000'], 'Tax Provision': ['8,303,000', '8,303,000', '8,330,000', '5,619,000', '7,914,000'], 'Net Income Common Stockholders': ['62,360,000', '62,360,000', '39,098,000', '23,200,000', '39,370,000'], 'Diluted NI Available to Com Stockholders': ['62,360,000', '62,360,000', '39,098,000', '23,200,000', '39,370,000'], 'Basic EPS': ['21.83', '24.61', '15.19', '8.63', '13.99'], 'Diluted EPS': ['21.19', '23.86', '14.87', '8.59', '13.77'], 'Basic Average Shares': ['2,543,250', '2,534,000', '2,574,000', '2,687,000', '2,815,000'], 'Diluted Average Shares': ['2,623,000', '2,614,000', '2,629,000', '2,702,000', '2,859,000'], 'Total Operating Income as Reported': ['69,380,000', '69,380,000', '46,751,000', '28,944,000', '46,753,000'], 'Total Expenses': ['95,121,000', '95,121,000', '88,151,000', '87,665,000', '71,176,000'], 'Net Income from Continuing &amp; Discontinued Operation': ['62,360,000', '62,360,000', '39,098,000', '23,200,000', '39,370,000'], 'Normalized Income': ['62,968,580', '62,968,580', '39,399,584', '23,265,205', '39,486,620'], 'Interest Income': ['2,517,000', '2,517,000', '1,639,000', '461,000', '484,000'], 'Interest Expense': ['715,000', '715,000', '446,000', '185,000', '23,000'], 'Net Interest Income': ['1,973,000', '1,973,000', '1,043,000', '-44,000', '671,000'], 'EBIT': ['71,378,000', '71,378,000', '47,874,000', '29,004,000', '47,307,000'], 'EBITDA': ['86,876,000', '86,876,000', '59,052,000', '37,690,000', '55,274,000'], 'Reconciled Cost of Revenue': ['30,161,000', '30,161,000', '25,959,000', '25,249,000', '22,649,000'], 'Reconciled Depreciation': ['15,498,000', '15,498,000', '11,178,000', '8,686,0

## Storing the data in a Pandas dataframe

Here we simply take the scrapped data and put them into a dataframe for further analysis.

In [4]:
all_df = []
for k in res.keys():
    data = pd.DataFrame(res[k])
    data['ticker'] = k
    all_df.append(data)
financials = pd.concat(all_df, axis=0)
financials.head(10)

,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,Net Income from Continuing Operation Net Minority Interest,Normalized EBITDA,year,ticker,Total Unusual Items Excluding Goodwill,Total Unusual Items,Tax Rate for Calcs,Earnings from Equity Interest Net of Tax,Average Dilution Earnings,Rent Expense Supplemental
0,"395,760,000","211,657,000","184,103,000","58,428,000","125,675,000",--,"71,000","125,746,000","29,596,000","96,150,000",...,"96,150,000","137,352,000",TTM,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
1,"391,035,000","210,352,000","180,683,000","57,467,000","123,216,000",--,"269,000","123,485,000","29,749,000","93,736,000",...,"93,736,000","134,661,000",9/30/2024,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
2,"383,285,000","214,137,000","169,148,000","54,847,000","114,301,000","-183,000","-565,000","113,736,000","16,741,000","96,995,000",...,"96,995,000","125,820,000",9/30/2023,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
3,"394,328,000","223,546,000","170,782,000","51,345,000","119,437,000","-106,000","-334,000","119,103,000","19,300,000","99,803,000",...,"99,803,000","130,541,000",9/30/2022,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
4,"365,817,000","212,981,000","152,836,000","43,887,000","108,949,000","198,000","60,000","109,207,000","14,527,000","94,680,000",...,"94,680,000","123,136,000",9/30/2021,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
0,"130,497,000","32,639,000","97,858,000","16,405,000","81,453,000","1,539,000","1,034,000","84,026,000","11,146,000","72,880,000",...,"72,880,000","86,137,000",TTM,NVDA,--,--,0,NaN,NaN,NaN
1,"130,497,000","32,639,000","97,858,000","16,405,000","81,453,000","1,539,000","1,034,000","84,026,000","11,146,000","72,880,000",...,"72,880,000","86,137,000",1/31/2025,NVDA,--,--,0,NaN,NaN,NaN
2,"60,922,000","16,621,000","44,301,000","11,329,000","32,972,000","609,000","237,000","33,818,000","4,058,000","29,760,000",...,"29,760,000","35,583,000",1/31/2024,NVDA,--,--,0,NaN,NaN,NaN
3,"26,974,000","11,618,000","15,356,000","9,779,000","5,577,000","5,000","-1,401,000","4,181,000","-187,000","4,368,000",...,"4,368,000","7,340,000",1/31/2023,NVDA,"-1,353,000","-1,353,000",0,NaN,NaN,NaN
4,"26,914,000","9,439,000","17,475,000","7,434,000","10,041,000","-207,000","107,000","9,941,000","189,000","9,752,000",...,"9,752,000","11,351,000",1/31/2022,NVDA,--,--,0,NaN,NaN,NaN